body {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(
        90deg, 
    rgb(26, 1, 138) 0%,
      rgb(240, 216, 7) 50%,
         rgb(206, 20, 20) 100%
    
     );
     letter-spacing: 2px;
}

#score {
    font-size: 2rem;
    font-weight: bold;
    margin: 1rem 0;
}

button {
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    border-radius: 5px;
    border: none;
    padding: 0,5rem 1rem;
    font-size: 1rem;
    letter-spacing: 1px;
    cursor: pointer;
    color: blue;
}

ul {
    display: grid;
    grid-template-columns: repeat(4, 100px);
    grid-template-rows: repeat(4, 100px);
    gap: 10px;
    padding: 0;
}

li {
    list-style: none;
    border: 0.5px solid rgb(0, 0, 0);
    border-radius: 10px;
    cursor: pointer;
}

.shake {
    animation: shake 0.1s;
}

.pop {
    animation: pop 0.5;
}

@keyframes shake {
    0% {transform: rotate(0deg);}
    25% {transform: rotate(-3deg);}
    50% {transform: rotate(0deg);}
    75% {transform: rotate(3deg);}
    100% {transform: rotate(0deg);}
}

@keyframes pop {
    0% {transform: scale(1);}
    50% {transform: scale(1.06);}
    100% {transform: scale(1);}
}